

<html>
<head>
  <title>Restaurant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<header class="w3-container w3-teal">
  <h1>Restaurants</h1>
  
    <p>Restaurant: <%= c.name %></p>
	<p>Restaurant: <%= c.id %></p>
  
 
</header>

<br>
<div class="w3-container">
  <ul class="w3-ul w3-large">
<ol>
<p>welcome <%= c.name %></p>
<li><a href=/showonmap?id=<%= c.id %>>Google Map</a></li>

 <ol> 
  </ul>
</div>
<p>




</body>
</html>

